#_VReportHeader {
	position: absolute;
	top: 1px;
	left: 8px;
	height: 59px;
}#_VReportFooter {}#_VReportContent{}#_VReportContentClient{}thead { display:table-header-group;margin:0;padding:0;}tfoot {display: table-footer-group;margin:0;padding:0;}
